
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.image {
  width: 100%;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
}
input[type="submit"] {
  align-self: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  height: 31px;
  width: 31%;
}
label, 
input { margin: 0 10px;}
input { margin-bottom: 10px; }
input:focus {
  outline: 2px solid #FF5543;
  box-shadow: 1px 1px 8px 1px #FF5543;
}
.validationmsg {
  color: #e31c3d;
  font-size: 14px;
  inline-size: 100%;
  text-align: center;
  overflow-wrap: break-word;
}

@media screen and (min-width: 769px) {
  .container {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
  }
  .sign-up { 
    margin-top: 110px;
    width: 50% 
  }
  .image {
    height: 720px;
    margin-left: 25px;
    max-width: 1200px;
    width: 50%;
  }

}
